[user]
	name = Marc Seitz
	email = [redacted]
[core]
	editor = nano
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[init]
	defaultBranch = main
[gpg]
	program = bpb
[commit]
	gpgsign = true